body {
  background-image: url("../images/pattern.png");
}

.container {
  background: none repeat 0 0 rgb(234, 243, 249);
  border: 14px double #cc5c90;
  width: 800px;
  height: 800px;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
}

#startButton {
  padding-top: 100px;
  text-align: center;
}

#choices {
  text-align: center;
}

.choice {
  margin-right: 15px;
}

.info {
  text-align: center;
}

#logo {
  font-family: "Bungee Shade", cursive;
  color: #ff66b3;
  font-size: 80px;
}

#question {
  font-family: "Cabin Sketch", cursive;
  font-size: 40px;
  padding: 50px;
}

#timer {
  font-family: "Cabin Sketch", cursive;
  padding-top: 40px;
  font-size: 30px;
}

#results {
  font-family: "Cabin Sketch", cursive;
  color: #ff66b3;
  font-size: 30px;
  padding-top: 50px;
}

#resetButton {
  padding-top: 50px;
}
